#img_test_main {
  width: 480px;
  height: 480px;
  border-radius: 30px;
  border: 8px;
  border-color: #365a26;
  border-style: double;
}

h1 {
  margin-top: 80px;
  color: rgba(11, 31, 2, 0.7);
  font-family: "Arial", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
