.grid-container {
  /* background-color: #b1f293; */
  background-color: #ffffff;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px;

  width: 90%;
  max-width: 900px;
  padding: 8px;
  margin: 20px auto;
  border-radius: 10px;
  border-style: solid;
  border-color: #518c35;
  border-width: 4px;
}

.grid-item {
  min-height: 150px;
}

.grid-item img {
  border-style: solid;
  border-color: #518c359e;
  border-width: 2px;
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: block;
}

.image_center {
  text-align: center;
  max-width: 100vw;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .image_center img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .image_center img {
    max-width: 80%;
    height: auto;
  }
}
