.grid-container {
  background-color: #ffffff;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px;

  width: 90%;
  max-width: 1000px;
  padding: 8px;
  margin: 20px auto;
  border-radius: 10px;
  border-style: solid;
  border-color: #2e6114;
  border-width: 6px;
}

.grid-item {
  padding-top: 100%;
  position: relative;
}

.grid-item:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.grid-item:active {
  transform: translateY(1px);
}

.grid-item img {
  border-style: solid;
  border-color: #518c359e;
  border-width: 2px;
  border-radius: 8px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}

.image_center {
  text-align: center;
  max-width: 100vw;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .image_center img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .image_center img {
    max-width: 80%;
    height: auto;
  }
}
