header {
  display: flex;
  justify-content: space-between; /* 왼쪽 끝 + 오른쪽 끝 정렬*/
  align-items: center; /* 수직 중앙 정렬 (또는 */
  flex-wrap: wrap;
  background-color: none;
}
.header_top_bar {
  display: flex;
  margin-left: 16px;
  color: #518c35;
  font-weight: bold;
  border-style: none none dotted none;
  border-width: 2px;
  border-color: #ffffff;
}

.main_nav {
  display: flex;
}
.main_nav ul {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;

  justify-content: flex-end;
  border-style: none none dotted none;
  border-width: 2px;
  border-color: #ffffff;
}
.main_nav li img {
  margin: 0;
}

.main_nav li a {
  margin: 16px 16px 0 0;
}

.main_nav a {
  color: #518c35;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .main_nav ul {
    border: none;
  }

  .header_top_bar {
    border: none;
    margin-left: 8px;
  }
}

